<app-importprojectcard
  *ngFor="let project of paginatedProjects"
  [title]="project.title"
  [description]="project.description"
  [issuesCount]="project.issuesCount"
  class="w-full"
></app-importprojectcard>

<div class="pagination-controls">
  <app-custom-button (action)="goToPage(currentPage - 1)" [label]="'Previous'"></app-custom-button>

  <span *ngFor="let page of [].constructor(totalPages); let i = index">
    <app-custom-button
      (action)="goToPage(i + 1)"
      [label]="'1'"
      [class.active]="currentPage === i + 1"
      >{{ i + 1 }}</app-custom-button
    >
  </span>

  <app-custom-button [label]="'Next'" (click)="goToPage(currentPage + 1)">Next</app-custom-button>
</div>
