<ng-container>
  <div class="space-y-2 mt-2">
    <label
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
      for="jiraUrl"
      >Jira Instance URL *</label
    ><input
      class="file:text-foreground placeholder:text-muted-foreground flex h-9 w-full min-w-0 px-3 py-1 text-base transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm border-1 border-gray-300 placeholder-gray-400"
      id="jiraUrl"
      placeholder="https://yourcompany.atlassian.net"
      value=""
    />
  </div>
  <app-custom-button
    label="Authorize with JIRA"
    shortLabel="Authorize"
    bgClass="bg-[#0052cc] border border-gray-300 hover:bg-gray-50 w-full"
    (action)="onAuthorize()"
    [textColor]="'text-white'"
    [icon]="'/images/import.svg'"
  ></app-custom-button>
</ng-container>
