<!-- Section Title -->
<app-sectiontitle [title]="sectionTitle" [description]="sectionDescription"></app-sectiontitle>

<!-- Progress Indicator -->
<div class="w-full">
  <div class="flex items-center justify-around ml-8 mr-8">
    <ng-container *ngFor="let step of importSteps; let i = index">
      <div class="flex flex-col items-center flex-shrink-0">
        <div
          [class]="
            'w-12 h-12 rounded-full flex items-center justify-center text-sm font-medium ' +
            (step.step === currentStep
              ? 'bg-blue-600 text-white'
              : step.step < currentStep
              ? 'bg-green-500 text-white'
              : 'bg-gray-200 text-gray-600')
          "
        >
          {{ step.step }}
        </div>
        <span class="text-xs mt-2" [class.text-blue-600]="step.step === currentStep">
          <button
            [ngClass]="{
              'hover:text-blue-700 hover:cursor-pointer':
                step.step !== currentStep && step.step < currentStep
            }"
            (click)="
              step.step !== currentStep && step.step < currentStep ? toStep(step.step) : null
            "
          >
            {{ step.title }}
          </button>
        </span>
      </div>
      <div *ngIf="i < importSteps.length - 1" class="flex-grow h-0.5 bg-gray-200 mx-2"></div>
    </ng-container>
  </div>
</div>

<div
  class="p-10 m-6 bg-white rounded-xl border border-gray-300 flex flex-col text-center space-y-10 shadow-sm items-center"
>
  <div class="w-full max-w-xl" [ngSwitch]="currentStep">
    <!-- Import Process Section -->
    <app-import-process-section
      [icon]="'images/import-jira-step-' + currentStep + '.svg'"
      [title]="importSteps[currentStep - 1].title"
      [description]="importSteps[currentStep - 1].description"
      [stepNumber]="currentStep"
      class="w-full"
    ></app-import-process-section>
  </div>
</div>

<!-- Navigation Controls -->
<div class="flex justify-around items-center w-full mt-6">
  <!-- Previous Button -->
  <app-custom-button (click)="previousStep()" [disabled]="currentStep === 1" [label]="'Previous'">
  </app-custom-button>

  <!-- Step Indicator -->
  <span class="text-sm text-gray-600 font-medium">
    Step {{ currentStep }} of {{ importSteps.length }}
  </span>
</div>
