<nav class="bg-white shadow-sm">
  <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-row lg:justify-between lg:items-center py-3 lg:py-0 lg:h-16 gap-3 lg:gap-4"
    >
      <!-- Search Bar -->
      <div class="w-full lg:max-w-lg flex-shrink">
        <app-search-bar
          [placeholder]="'Search Projects, Users and Reports...'"
          (search)="onSearch($event)"
        ></app-search-bar>
      </div>

      <!-- Action Icons -->
      <div class="flex items-center justify-end flex-shrink-0">
        <app-action-buttons (actionClick)="onActionClick($event)"></app-action-buttons>
      </div>
    </div>
  </div>
  <div class="relative">
    <div *ngIf="isUserMenuVisible" class="absolute right-1 mt-1">
      <app-user-menu></app-user-menu>
    </div>
  </div>
</nav>

<div class="relative">
  <div
    *ngIf="
      searchResults &&
      (searchResults.projects?.length ||
        searchResults.users?.length ||
        searchResults.reports?.length)
    "
    class="absolute z-10 w-full lg:max-w-2xl bg-white p-4 space-y-6"
  >
    <!-- Projects -->
    <div *ngIf="searchResults.projects?.length">
      <h3 class="text-lg font-semibold text-gray-600">Projects</h3>
      <ul class="">
        <li *ngFor="let project of searchResults.projects" class="py-1 text-sm">
          {{ project.name }}
        </li>
      </ul>
    </div>

    <!-- Users -->
    <div *ngIf="searchResults.users?.length">
      <h3 class="text-lg font-semibold text-gray-600">Users</h3>
      <ul class="">
        <li *ngFor="let user of searchResults.users" class="py-1 text-sm">
          {{ user.name }}
        </li>
      </ul>
    </div>

    <!-- Reports -->
    <div *ngIf="searchResults.reports?.length">
      <h3 class="text-lg font-semibold text-gray-600">Reports</h3>
      <ul class="">
        <li *ngFor="let report of searchResults.reports" class="py-1 text-sm">
          {{ report.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
